/*=====================================================*/
/* ⚙️ Reset / Normalize
/*=====================================================*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-base);
}

/* Anchura de la barra de desplazamiento */
/* Para navegadores basados en WebKit como Chrome y Safari */
::-webkit-scrollbar {
    width: 5px;
}

/* Para navegadores basados en Gecko como Firefox */
::-moz-scrollbar {
    width: 5px;
}

/* Estilo de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background-color: #8888883f;
    /* Color del thumb (manija) */
    border-radius: 5px;
    /* Borde redondeado */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #55555550;
    /* Color del thumb al pasar el mouse */
}

/* Estilo del track (pista) */
::-webkit-scrollbar-track {
    background-color: #f1f1f13b;
    /* Color del track */
    /*border-radius: 5px; /* Borde redondeado */
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
}


/*=====================================================*/
/* 📄 Page - Login
/*=====================================================*/

.login-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, .3);
    background: #fff;
}

.login-form-body {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: #fff;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

.login-form h2 {
    color: #212529;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.login-input {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.login-input input {
    padding: .5rem 1rem;
    border: 1px solid #bfbfbf;
    transition: border-color 0.3s;
    outline: none;
    width: 100%;
    color: #333333;
    background-color: #fff;
    padding: 10px 37px 10px 15px;
    border-radius: 3px;
}

.login-input label {
    position: absolute;
    left: 1.5em;
    font-size: 0.95rem;
    color: #a1a1a1;
    pointer-events: none;
    transition: 0.2s;
}

.login-input input:focus+label,
.login-input input:not(:placeholder-shown)+label {
    top: -17px;
    font-size: 12px;
    color: #212529;
    ;
}

.login-button {
    width: 100%;
    padding: .7rem 1rem;
    color: #fff;
    background-color: #0071b6;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.login-button:hover {
    background-color: #004d7d;
}


/*=====================================================*/
/* 📄 Page - Index
/*=====================================================*/

.index-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #f5f5f5;
}

main {
    padding: 20px;
    overflow: auto;
}

h1 {
    margin: 0 0 20px 0;
}

.section-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

#buscador {
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 7px;
    width: 120px;
}

.btn_addPlaca {
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 10px;
    background: #1f7578;
    color: #fff;
    cursor: pointer;
}

.radio-containers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.radio-containers label {
    background-color: #efefef;
    padding: 5px;
    color: #212529;
    font-size: small;
    border-radius: 3px;
    cursor: pointer;
}

.radio-containers input {
    display: none;
}

.radio-containers input:checked+label {
    border: 3px solid #a7a7a7;
}


#formulario {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

.formPlaca {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
    max-width: 300px;
    height: fit-content;
}

.lb_placa {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.lb_placa span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background: #00787a;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    color: #fff;
    font-size: small;
}

.formPlaca input[type="text"],
.lb_placa input[type="text"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    text-align: center;
    border: 1px solid #00787a;
    border-radius: 0 5px 5px 0;
    text-transform: uppercase;
}

.text-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    margin: .5rem;
}

.errorAlert {
    display: none;
    text-align: center;
    color: #c10000;
}

.error-visible {
    display: flex;
}

.section_entrada {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}

.btn_entrada {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: none;
    font-size: 11px;
    min-width: fit-content;
    background-color: #efefef;
    cursor: pointer;
}

.section_preview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    column-gap: 5px;
    row-gap: 5px;
}

.section_foto {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    border: 1px dotted gainsboro;
    border-radius: 7px;
    overflow: hidden;
}

.preview {
    display: none;
    height: 100px;
    width: 100%;
}

.buttons-foto {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #525f60;
    padding: 0 5px;
    overflow: hidden;
}

.buttons-foto span {
    flex-grow: 1;
    text-align: center;
    font-size: smaller;
    color: #fff;
}

.input-foto {
    display: none;
}

.btn_upload div {
    display: flex;
}

.btn_upload,
.btn_camera {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 5px;
    font-size: medium;    
    border: none;    
    cursor: pointer;
}

.btn_upload {
    background-color: transparent;
}

.btn_camera {
    background: transparent;
    border-radius: 0 3px 3px 0;
}

.section_btns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5px;
    margin-top: 10px;
    grid-column: 1 / 3;
}

.btn_guardar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 5px;
    border: none;
    border-radius: 5px;
    background: #00787a;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}

.btn_eliminar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    border: none;
    border-radius: 5px;
    background: #c70000;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 100;
}

.active {
    display: flex !important;
}

#camera {
    position: relative;
    height: 100vh;
}

#btn_closeVideo {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border: none;
    color: #fff;
    background-color: transparent;
    font-size: 1.5em;
    cursor: pointer;
    z-index: 150;
}

#btn_closeVideo img {
    height: 32px;
    width: 32px;
}

#btn_foto {
    position: absolute;
    bottom: 2em;
    height: 40px;
    width: 40px;
    border: none;
    background-color: red;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .5);
    cursor: pointer;
    z-index: 150;
}

@media screen and (min-width: 700px) {}


/*=====================================================*/
/* 📄 Alert
/*=====================================================*/

#sectionAlert {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .25);
    z-index: 1000;
}

.alert {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    padding: 1.5em 2.5em;
}

#titleAlert {
    color: #212529;
}

#bodyAlert {
    color: #7d7c7c;
    margin-top: .5em;
    text-align: center;
}

#footAlert {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#btnAlert1,
#btnAlert2 {
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, .25);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

#btnAlert1 {
    background-color: #0071b6;
}

#btnAlert1:hover {
    background-color: #004d7d;
}

#btnAlert2 {
    display: none;
    background-color: #c10000;
}

#btnAlert2:hover {
    background-color: #550000;
}

#btnAlert2.visible {
    display: block;
}

@media screen and (min-width:756px) {
    .alert {
        width: 40%;
    }
}

/*=====================================================*/
/* 📄 Notify
/*=====================================================*/

#notify-container {
    position: fixed;
    right: 0;
    bottom: 1em;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 9999;
    overflow: hidden;
}

.notify {
    background: #333;
    color: #fefefe;
    padding: 10px 15px;
    border-radius: 4px 0 0 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    width: auto;
    font-family: sans-serif;
    animation: fadein 0.5s ease-out;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideout-left {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(100%);
    }
}

.notify-exit {
    animation: slideout-left 0.5s ease forwards;
}